<div class="grid">
  <div id="search-results" *ngIf="selectedMovie">

    <mat-card>
      <mat-card-title>{{selectedMovie.Title}}</mat-card-title>
      <mat-card-subtitle>{{selectedMovie.Type}}</mat-card-subtitle>
      <div class="left">
        <img mat-card-image src="{{selectedMovie.Poster}}" alt="image of {{selectedMovie.Title}}" />
      </div>
      <div class="right">
        <mat-card-content>
          <p>{{selectedMovie.Title}}</p>
          <p><b>Year : </b>{{selectedMovie.Year}}</p>
          <p><b>Actors: </b>{{selectedMovie.Actors}}</p>
          <p><b>Released: </b>{{selectedMovie.Released}}</p>
          <p><b>Genre: </b>{{selectedMovie.Genre}}</p>
          <p><b>Director: </b>{{selectedMovie.Director}}</p>
          <p><b>Language: </b>{{selectedMovie.Language}}</p>

        </mat-card-content>
      </div>
      <div id="summary">
          <b>Summary:</b>
        <p></p>
        <mat-card-content>
          <p><b>Plot:</b> {{selectedMovie.Plot}}</p>
          <p><b>Awards: </b>{{selectedMovie.Awards}}</p>
          <p><b>IMDB Rating:</b> {{selectedMovie.imdbRating}}</p>
          <p><b>IMDB Votes:</b> {{selectedMovie.imdbVotes}}</p>
          <p><b>Production:</b> {{selectedMovie.Production}}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>